<?xml version="1.0"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="SamplingTime" value="true" />
    <add key="NodeName" value="true" />
    <add key="IpNumber" value="true" />
    <add key="CPUProcessorTime" value="true" />
    <add key="CPUPrivilegedTime" value="true" />
    <add key="CPUInterruptTime" value="true" />
    <add key="CPUDPCTime" value="true" />
    <add key="MEMAvailable" value="true" />
    <add key="MEMCommited" value="true" />
    <add key="MEMCommitLimit" value="true" />
    <add key="MEMCommitedPerc" value="true" />
    <add key="MEMPoolPaged" value="true" />
    <add key="MEMPoolNonPaged" value="true" />
    <add key="MEMCached" value="true" />
    <add key="PageFile" value="true" />
    <add key="ProcessorQueueLengh" value="true" />
    <add key="DISCQueueLengh" value="true" />
    <add key="DISKRead" value="true" />
    <add key="DISKWrite" value="true" />
    <add key="DISKAverageTimeRead" value="true" />
    <add key="DISKAverageTimeWrite" value="true" />
    <add key="DISKTime" value="true" />
    <add key="HANDLECountCounter" value="true" />
    <add key="THREADCount" value="true" />
    <add key="CONTENTSwitches" value="true" />
    <add key="SYSTEMCalls" value="true" />
    <add key="NumProcess" value="true" />
    <add key="NetTrafficSend" value="true" />
    <add key="NetTrafficReceive" value="true" />
    <add key="MonitoredProcessesCPUProcessorTime" value="true" />
    <add key="MonitoredProcessesMEMUsed" value="true" />
  </appSettings>
</configuration>